.venv
apps/**/.venv
venv
env
.env
.env.local
__pycache__
*.pyc
*.pyo
*.pyd
.Python
node_modules
.next
.swc
.git
.vscode
.idea
.DS_Store
.coverage
.pytest_cache
.pyre
*.log
**/bin/
coverage.out
*.tsbuildinfo
research_paper.md
